:root {
  --black: #000000;
  --dark-grey: #0B0E0F;
  --white: #ffffff;
  --grey: #f3f2f1;
  --purple: #1e054e;
  --blue: #1d70b8
}

body{
  background-color: var(--black) !important;
}

.displayFlex {
  display: flex;
}

.main,
.container {
  width: 100% !important;
  max-width: 1400px;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
  padding: 0;
}

.inner-container {
  max-width: 1400px;
  margin: 0 auto;
}


.containerInner {
  padding: 30px;
}

.main {
  background-color: var(--black) !important;
  color: var(--white);
}

.mt-1 {
  margin-top: 10px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mt-3 {
  margin-top: 30px !important;
}
.mt-4 {
  margin-top: 40px !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mb-4 {
  margin-bottom: 40px !important;
}

p{
  margin: 0 0 15px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white) !important;
}

.smallText {
  font-size: 19px;
}
.mediumText {
  font-size: 24px;
}
.largeText {
  font-size: 36px;
}
.xlargeText {
  font-size: 48px;
}

.title {
  display: block;
  font-family: GDSTransportBold;
  font-weight: 900;
}

.backLink {
  background-color: var(--black);
  color: var(--white);
  margin: 0 0 25px 15px;
  
  a{
    color: var(--white);

    &:hover {
      color: var(--white);
      font-weight: 800;
    }
  }
}

.btn-upload {
  color: var(--white) !important;
  border: 2px solid var(--white) !important;
  text-transform: none !important;
}

/* Support Tools */
.supportTools{

  button {
    background-color: #cccccc;
    margin: 0 0 5px;
    width: 100%;
  }
}

.tabPanel {
  color: var(--white);
  padding: 0 0 60px 60px;
}


/* LIGHT THEME */
.light-theme {

  background-color: var(--white) !important;

  /* Theme Switch */
  .themeSwitch {
    background: var(--white);

    label {
      background: var(--white) !important;

      .MuiFormControlLabel-label {
        color: var(--black);
      }
  
      .MuiSwitch-thumb {
        background-color: var(--white) ;
      }
      .MuiSwitch-track {
        background-color: #00db33 !important;
        opacity: 1;
      }
    }
  }

  /* Back Link */
  .backBtn {
    color: var(--black);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: var(--black) !important;
  }

  .main {
    background-color: var(--white) !important;
  }
  
  .btn-upload {
    color: var(--black) !important;
    border-color: var(--black) !important;
  }

  .caseSummary {
      background-color: var(--white) !important;
      color: var(--black) !important;
      border-bottom: 1px solid var(--black) !important;
  }
  .successfulCases {
    background-color: var(--white) !important;
    color: var(--black) !important;
    border-bottom: 1px solid var(--black);
  }
}