@font-face {
  font-family: GDSTransport;
  src: url(../src/fonts/GDSTransportWebsite.woff2);
}
@font-face {
  font-family: GDSTransportBold;
  src: url(../src/fonts/GDSTransportWebsite-Bold.woff2);
}

a {
  color: #1976d2;
}

h1, h2, h3, h4, h5 {
  font-family: GDSTransportBold;
  margin: 0;
}

h2{
  font-size: 48px;
}
h3 {
  font-size: 24px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0 0 8px;
  padding: 0;
}