/* Start page specific styles */
.govuk-button--start {
  margin-top: 2rem;
}

/* Start page specific styles */
.govuk-button--continue {
  margin-top: 2rem;
}

.govuk-back-link {
  background: none;
  border: none;
  color: #1d70b8;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0;
  text-decoration: underline;
}

.govuk-back-link:hover {
  color: #003078;
}