{% extends "layouts/main.html" %}

{% block pageTitle %}
Arbitration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<style>
  @media (min-width: 40.0625em) {
    .govuk-summary-list__key {
      width: 60%;
    }
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Arbitration</h1>

    <h2 class="govuk-heading-m">You could consider family arbitration to resolve your child arrangements.</h2>

    <p>In family arbitration, you and the other person choose a qualified, impartial professional to hear both of your
      views. They will then make a decision that you both have to agree to follow.</p>

    <p>Arbitration:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>is usually quicker and more flexible than going to court​</li>
      <li>is expensive</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Find out more about arbitration
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>The other parent will need to agree to arbitration and you'll need to be able to agree on which issues it is
          you want to focus on.</p>

        <p>You get to choose how you want to participate in arbitration. For example, you can decide for the case to be
          dealt with on paper, or you can attend telephone or in-person meetings with the arbitrator. This approach
          means that you don't have to deal directly with the other parent if you don't want to.</p>

        <p>You can also hire a lawyer to support you as part of the process. The type of lawyer you use is called a
          solicitor.</p>

         <p>The agreement reached will not be legally binding. You can ask your lawyer to submit it to court to make it
          legally binding if that is what you want.</p>

        <p>How it works:</p>
        <ol class="govuk-list govuk-list--number">
          <li>Both of you have to agree to arbitration.</li>
          <li><a href="https://ifla.org.uk" class="govuklink">Choose an arbitrator</a></li>
          <li>Both of you complete an application form describing the issues you want to fix and whether you want to
            attend sessions or handle things with paperwork.​</li>
          <li>Take part in arbitration in the way you want, such as by phone or on paper.</li>
          <li>Get a decision in writing which you must both follow.</li>
        </ol>

        <p><a href="https://ifla.org.uk" class="govuk-link">Find an arbitrator</a></p>

      </div>
    </details>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Other options</h2>

    <!-- Start: Lawyer negotiation -->
    <h3 class="govuk-heading-m govuk-!-margin-top-6">Lawyer negotiation</h3>
    <p>When you make or change your child arrangements using lawyer negotiation, you hire a lawyer to negotiate
      arrangements for you. This means that you don't have to deal directly with the other parent if you don't want to.
    </p>

    <p>Lawyer negotiation:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>is usually quicker and less stressful than going to court</li>
      <li>can be expensive</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How lawyer negotiation works
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Lawyer negotiation can be a good option if your relationship is difficult and you'd prefer not to meet, or if
          you don't trust the other parent.</p>

        <p>You can still hire a lawyer to negotiate on your behalf even if the other parent chooses not to use one. The
          type of lawyer you use is called a solicitor. Often the other parent will also use a lawyer and the two
          lawyers will speak directly to one another.</p>

        <p>The agreement reached will not be legally binding. You can ask your lawyer to submit it to court to make it
          legally binding if that is what you want.</p>

        <p>How it works:</p>
        <ol class="govuk-list govuk-list--number">
          <li>Hire a lawyer.</li>
          <li>Meet with your lawyer to explain what you want to achieve.</li>
          <li>Continue working with your lawyer as they negotiate with the other parent.</li>
          <li>Sign an agreement.</li>
        </ol>

        <p><a href="https://solicitors.lawsociety.org.uk/" class="govuk-link">Find a lawyer</a></p>
      </div>
    </details>
    <!-- End: Lawyer negotiation -->

    <!-- Start: Going to court -->
    <h3 class="govuk-heading-m govuk-!-margin-top-9">Going to court</h3>

    <p>You'll need to go to court if you've tried other suitable options and still can't agree arrangements, or you're
      worried about the welfare of you or your children.</p>

    <p class="govuk-!-margin-top-6">Court:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>can take a long time</li>
      <li>can be expensive and stressful</li>
      <li>often takes more than one court session to get a resolution</li>
      <li>results in a legal judgement that can be enforced</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How court works
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>How it works:</p>
        <ol class="govuk-list govuk-list--number">
          <li>Find out if you can get representation.</li>
          <li>You must attend an initial mediation meeting, known as a Mediation Information and Assessment Meeting
            (MIAM)
            before going to court, or <a class="govuk-link"
              href="https://apply-to-court-about-child-arrangements.service.justice.gov.uk/about/miam_exemptions"
              target="_blank">complete an exemption form (opens in new tab)</a>.</li>
          <li>Apply to court</li>
          <li>Go to court</li>
        </ol>
      </div>
    </details>
    <!-- End: Going to court -->

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Your answers</h2>
    <p><a href="get-help-with-child-arrangements" class="govuk-link">Start again</a></p>

    {% if (data['child-arrangements-in-place'] == "yes") %}
    <div class="govuk-!-margin-top-6">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are the children safe?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['child-safety']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="child-safety">Change<span class="govuk-visually-hidden"> Are the children
                safe?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            If you had to talk to the other parent or carer about your child, would you feel bullied or unsafe?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['feel-bullied-or-unsafe']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="feel-bullied-or-unsafe">Change<span class="govuk-visually-hidden"> If you had to
                talk to the other parent or carer about your child, would you feel bullied or unsafe?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have any child arrangements in place at the moment?​
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['child-arrangements-in-place']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="child-arrangements-in-place">Change<span class="govuk-visually-hidden"> Do you
                have any child arrangements in place at the moment?​</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the situation with your existing child arrangements?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['existing-child-arrangements']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="existing-child-arrangements">Change<span class="govuk-visually-hidden">What is
                the situation with your existing child arrangements?​</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you and the other parent able to contact each other?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['contact-each-other']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="contact-each-other">Change<span class="govuk-visually-hidden">Are you and the
                other parent able to contact each other?​</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you think you and the other parent will need help from someone else to make you reach agreement?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['need-help-from-someone-else']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="need-help-from-someone-else">Change<span class="govuk-visually-hidden">Do you
                think you and the other parent will need help from someone else to make you reach agreement?​</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you think you both would be able to stick to an agreement you made between yourselves?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['stick-to-an-agreement']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="stick-to-an-agreement">Change<span class="govuk-visually-hidden">Do you think
                you both would be able to stick to an agreement you made between yourselves?​</span></a>
          </dd>
        </div>
      </dl>
    </div>

    {% elif (data['child-arrangements-in-place'] == "no") %}
    <div class="govuk-!-margin-top-6">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are the children safe?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['child-safety']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="child-safety">Change<span class="govuk-visually-hidden"> Are the children
                safe?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            If you had to talk to the other parent or carer about your child, would you feel bullied or unsafe?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['feel-bullied-or-unsafe']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="feel-bullied-or-unsafe">Change<span class="govuk-visually-hidden"> If you had to
                talk to the other parent or carer about your child, would you feel bullied or unsafe?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have any child arrangements in place at the moment?​
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['child-arrangements-in-place']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="child-arrangements-in-place">Change<span class="govuk-visually-hidden"> Do you
                have any child arrangements in place at the moment?​</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you and the other parent able to contact each other?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['contact-each-other']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="contact-each-other">Change<span class="govuk-visually-hidden">Are you and the
                other parent able to contact each other?​</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you think you and the other parent will need help from someone else to make you reach agreement?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['need-help-from-someone-else']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="need-help-from-someone-else">Change<span class="govuk-visually-hidden">Do you
                think you and the other parent will need help from someone else to make you reach agreement?​</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you think you both would be able to stick to an agreement you made between yourselves?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['stick-to-an-agreement']|capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="stick-to-an-agreement">Change<span class="govuk-visually-hidden">Do you think
                you both would be able to stick to an agreement you made between yourselves?​</span></a>
          </dd>
        </div>
      </dl>
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}