.themeSwitch {
  background: var(--black);
  padding: 20px 0 0;
  text-align: right;

  .MuiSwitch-root {
    padding: 5px;
    margin-right: 5px;
  }

  label {
    padding: 0px 0 0 10px;

    .MuiFormControlLabel-label {
      color: var(--white);
      font-weight: bold;
    }

    .MuiSwitch-track {
      background-color: var(--white);
      border-radius: 15px;
    }
  }
}