header {
  background: var(--dark-grey);
  margin: 0;
  padding: 0;
  height: 80px;

  .logo {
    height: 50px;
    margin: 15px 20px;
    padding: 0;

    &:hover {
      filter: none;
    }

    button {
      color: #ffffff !important;
    }
  }
}