header {
  background: var(--black);
  margin: 0;
  padding: 10px 0 0;
  border-bottom: 1px solid var(--white);

  .logo {
    height: 50px;
    margin: 10px 0;
    padding: 0;
    background: url(../assets/logo-white.png) no-repeat 0 0 / 150px auto;

    &:hover {
      filter: none;
    }

    button {
      color: #ffffff !important;
    }
  }
}

/* LIGHT THEME */
.light-theme { 
  header {
    background-color: var(--white) !important;
    border-bottom: 1px solid var(--black);

    .logo {
      background-image: url(../assets/logo-black.png);
    }
  }
}