.verticalStepper{
  background-color: var(--lightOrange);
  color: var(--black);
  height: calc(100vh - 0);
  padding: 20px;

  &.sticky {
    position: sticky;
    top: 0;
    font-size: 20px;
  }

  h2, h3, h4, p {
    color: var(--black) !important;
  }

  button {
    background-color: var(--greenButton);
    text-transform: none;
    color: var(--white) !important;
  }

  .Mui-completed,
  .MuiStepLabel-label {
    color: var(--black) !important;
    font-weight: 700 !important;  
    font-family: GDSTransportBold;
    line-height: 1em;
  }

  .MuiStep-root { 
    &:last-child {
      .MuiStepContent-root {
        border-color: transparent !important;
      }
    }
    .MuiStepContent-root {
      border-left: 4px solid var(--black);
    }
  }

  
  .MuiStepConnector-line {
    border-left: 4px solid var(--black);
    margin: -12px 0;
    min-height: 50px;
    position: relative;
    left: 3px;
  }

  .MuiSvgIcon-root {
    circle {
      color: #cccccc;
    }
    text {
      fill: var(--black) !important;
    }
  }

  /*************
  Custom Styling 
  *************/
  .verticalStepperSteps{
    position: relative;

    .MuiStep-root { 
      .MuiStepContent-root {
        position: relative;
        left: 15px;
        margin: -12px 0;

        .MuiCollapse-root {
          position: relative;
          left: 12px;
          top: 10px;
        }
      }
    }

    .MuiStepConnector-root.Mui-active {
      & + .MuiStep-vertical {
        .MuiStepContent-root{
          border-left: 4px solid var(--black);
          position: relative;
          left: 15px;
          top: -10px;
          margin: 0;

          .MuiCollapse-root {
            position: relative;
            left: 12px;
            top: 10px;
          }
        }
      }
    }
    
    .MuiStepLabel-iconContainer  {
      background-color: var(--black);
      border: 1px solid var(--black);
      width: 36px;
      height: 36px;
      position: relative;
      border-radius: 5px;
      margin-right: 15px;

      path {
        display: none;
      }

      &::before {
        content: '';
        background-color: var(--white);
        border-radius: 50%;
        height: 12px;
        width: 12px;
        position: absolute;
        left: 11px;
        top: 11px;
      }

      &.Mui-completed {
        &::before {
          content: ''; 
          background: url(../assets/tick.svg) no-repeat 0 0 / 23px auto;
          height: 100%;
          width: 100%;
          z-index: 100;
          top: 8px;
          left: 5px;
          border-radius: 0;
        }
      }

      &.Mui-active {
        background-color: var(--white);
        border: 1px solid var(--black);
        z-index: 1;

        &::before {
          background-color: var(--black);
        }

        circle,
        text {
          display: none;
        }
      }
      
      &.Mui-disabled {
        background-color: #cccccc;
        border: 1px solid var(--black);
        z-index: 1;

        &::before {
          background-color: #a7a7a7;
        }

        circle,
        text {
          display: none;
        }
      }
    }
  }

  /* Fix for step boxes to inherit parent background color */
  .verticalStepper .step-box {
    background-color: inherit !important;
    border-left: 3px solid;
  }
}
