.summaryCardDocuments {
  background-color: var(--black) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #43A6C6 var(--dark-grey);
  
  div.MuiCardContent-root{
    background-color: var(--bgLightGreen);
    margin: 0;
    padding: 0;
    height: 100%;
  }

  h3 {
    background-color: var(--btnGreen);
    color: var(--white) !important;
    font-size: 24px;
    padding: 5px 20px
  }

  ul {
    margin: 0;
    padding: 25px 20px;

    li {
      margin: 0 0 15px 0;
      padding: 0;

      .pdfDocument {
        background: url(../assets/icon-pdf.png) no-repeat 0 0 / 25px auto;
        padding-left: 35px;
      }
      .docDocument,
      .docxDocument {
        background: url(../assets/icon-doc.png) no-repeat 0 0 / 25px auto;
        padding-left: 35px;
      }
      .xlsDocument,
      .xlsxDocument {
        background: url(../assets/icon-xls.png) no-repeat 0 0 / 25px auto;
        padding-left: 35px;
      }
      a {
        color: var(--black);
      }
    }
  }
}

.summaryCardDocuments::-webkit-scrollbar {
  width: 8px;
}

.summaryCardDocuments::-webkit-scrollbar-track {
  background: var(--dark-grey);
  border-radius: 4px;
}

.summaryCardDocuments::-webkit-scrollbar-thumb {
  background-color: #1e5631;
  border-radius: 4px;
}

.light-theme .summaryCardDocuments {
  scrollbar-color: var(--blue) var(--grey);
}

/* Move the light theme WebKit scrollbar selector outside too */
.light-theme .summaryCardDocuments::-webkit-scrollbar-track {
  background: var(--grey);
}