.summaryCardActions {
  background-color: var(--black) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #43A6C6 var(--dark-grey);

  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: var(--dark-grey);
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #1e5631;
    border-radius: 4px;
  }

  /* Rest of your existing styles */
  div.MuiCardContent-root{
    background-color: var(--bgLightCobalt);
    margin: 0;
    padding: 0;
    height: 100%;
  }

  div.MuiCardContent-root{
    background-color: var(--bgLightCobalt);
    margin: 0;
    padding: 0;
    height: 100%;
  }

  h3 {
    background-color: var(--btnCobalt);
    color: var(--white) !important;
    font-size: 24px;
    padding: 5px 20px
  }

  ul {
    margin: 0;
    padding: 25px 15px;

    li {
      margin: 0 0 15px 0;
      padding: 0 0 0 40px;
      position: relative;

      &.taskCompleted {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -3px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: var(--green);
        }

        span {
          text-decoration: line-through;
        }
      }
      &.taskNew {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -3px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: var(--white);
          border: 3px solid var(--green);
        }
      }
    }
  }
}
.light-theme .summaryCardActions {
  scrollbar-color: var(--blue) var(--grey);
  
  &::-webkit-scrollbar-track {
    background: var(--grey);
  }
}
