{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width" style="min-height: 500px;">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      Child arrangements help finder
    </h1>
    <p>Find the best route for making child arrangements or fixing problems</p>

    <h2 class="govuk-heading-m !-margin-top-9"><strong>Instructions:</strong></h2>
    <ul class="govuk-list govuk-list--number">
      <li>Click on the link below to start the prototype</li>
      <li>Expand the third option - <strong>'Make arrangements for children, money and
          property'</strong></li>
      <li>Click on <strong>'Child arrangements help finder'</strong></li>
      <li>Click on <strong>'Get help with child arrangements'</strong> to start the service</li>
    </ul>

    <p class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-9" id="start-prototype">
      <a class="govuk-link" href="get-a-divorce">Start prototype</a>
    </p>
  </div>
</div>

{% endblock %}