{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you think you and the other parent will need help from someone else to make you reach agreement? ​– {{ serviceName }}
– GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/need-help-from-someone-else" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="need-help-from-someone-else-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-top-6">
              Do you think you and the other parent will need help from someone else to make you reach agreement?
            </h1>
          </legend>
          <div id="need-help-from-someone-else-hint" class="govuk-hint">
            The other person might be a mediator, lawyer or judge.​
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="need-help-from-someone-else" name="need-help-from-someone-else"
                type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="need-help-from-someone-else">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="need-help-from-someone-else-2" name="need-help-from-someone-else"
                type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="need-help-from-someone-else-2">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="need-help-from-someone-else-3" name="need-help-from-someone-else"
                type="radio" value="not sure">
              <label class="govuk-label govuk-radios__label" for="need-help-from-someone-else-3">
                I don't know
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}